#animation_image1 {
    
}

.image-cropped-frame {
    display: flex;
    width: 100%; /* width of container */
    height: 100%;
}
#croppingFrame-bottom{
    left: 390px;
    top: 560px;
    position: absolute;
    align-self: center;
    border-color: red;
    border-width: 3em;
    width: 1522px;
    height: 440px;
    overflow: hidden;
    z-index: 1;
}
#croppedImage-bottom{
    position: absolute;
    left: -390px;
    top: -560px;
}
#croppingFrame-left{
    left: 390px;
    top: 560px;
    position: absolute;
    align-self: center;
    border-color: red;
    border-width: 3em;
    width: 1522px;
    height: 440px;
    overflow: hidden;
    z-index: 1;
}

#croppedImage-left{
    position: absolute;
    left: -390px;
    top: -560px;
}

.mainscreenshot{
    position: absolute;
}